<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">

    <title>Sentinelle</title>
    <!-- JQuery -->
    <script type='text/javascript' src='./js/lib/jquery-2.1.1.min.js'></script>
    <script type='text/javascript' src='./js/lib/bootstrap.min.js'></script>
    <script type='text/javascript' src='./js/lib/slidebars.js'></script>
    <script type='text/javascript' src='./js/lib/jquery.autocomplete.js'></script>
    <script type='text/javascript' src='./js/lib/FaviconAwesome.js'></script>
    <script type='text/javascript' src="/socket.io/socket.io.js"></script>
    <script type='text/javascript' src='./js/messenger.js'></script>
    <script type='text/javascript' src='./js/ap.js'></script>
    <script type='text/javascript' src='./js/infra.js'></script>
    <script type='text/javascript' src='./js/sta.js'></script>
    <link rel="stylesheet" href="./css/slidebars.css" type="text/css">
    <link rel="stylesheet" href="./css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="./css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="./css/sentinelle.css" type="text/css">

</head>
<body id="top">
<script> FaviconAwesome('fa-connectdevelop', '#0093D1'); </script>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container" style="width:80%">
        <!-- Logo -->
        <div id="logo" class="nav navbar-nav navbar-left" style="padding-top: 5px;">
            <i class="fa fa-3x fa-connectdevelop"></i>
            <a href="#">Sentinelle</a>
        </div>
        <!-- /#logo -->

        <!-- Menu -->
        <ul class="nav navbar-nav navbar-right">
            <li id="nav_display_infra" class="nav_selected">
                <a href="#" onclick="select_tab('display_infra')">
                    <i class="fa fa-sitemap fa-lg"></i>
                    <span> Infrastructure</span>
                </a>
            </li>
            <li id="nav_display_ap">
                <a href="#" onclick="select_tab('display_ap')">
                    <i class="fa fa-wifi fa-lg"></i>
                    <span> AP Details</span>
                </a>
            </li>
            <li id="nav_display_sta">
                <a href="#" onclick="select_tab('display_sta')">
                    <i class="fa fa-laptop fa-lg"></i>
                    <span> STA Details</span>
                </a>
            </li>
            <li id="nav_display_config">
                <a href="#" onclick="select_tab('display_config')">
                    <i class="fa fa-gears fa-lg"></i>
                    <span> Config</span>
                </a>
            </li>
            <li id="nav_about">
                <a href="#" onclick="select_tab('about')">
                    <i class="fa fa-question fa-lg"></i>
                    <span> About</span>
                </a>
            </li>
            <li>
                <a id="top-arrow" href="#top">^
                    <span> Top</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<!-- main container -->
<div id="sb-site">
    <!-- mib viewer - this section will display the article to load MIB files -->
    <section class="sb-site-content" id="section_action">
        <article style="display: flex;">
            <div style="width: 20%;margin:auto;">
                <button type="button" class="btn btn-default" style="margin:0px" onclick="start_stop()">
                    Sensor:
                    <a href="#">
                        <i id="sentinelle_action" class="fa fa-toggle-off fa-lg"></i>
                    </a></button>
                <div id="sentinelle_status_btn" class="label label-success" style="margin:0px; padding:5px;">
                    Status :
                    <span id="sentinelle_status_text"></span>
                    <i id="sentinelle_status_icon"></i>
                </div>
            </div>
            <div style="width: 30%;margin:auto;">
                <a href="#" onclick="goTo('display_preview', 'oid_'+$('#autocomplete').val());">
                    <i class="fa fa-search fa-lg"></i>
                </a>
                <input name="filter_list" id="autocomplete" placeholder="Search" class="search"
                       onkeypress="return enterKey(event)" type="text">
            </div>
            <div style="margin:auto;text-align: center">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" disabled="disabled">Sort by:</button>
                    <button type="button" id="sort-by-rssi" class="btn btn-default" onclick="sortList('rssi')">
                        RSSI
                    </button>
                    <button type="button" id="sort-by-ssid" class="btn btn-default btn-selected" onclick="sortList('ssid')">SSID
                    </button>
                    <button type="button" id="sort-by-bssid" class="btn btn-default" onclick="sortList('bssid')">
                        BSSID
                    </button>
                    <button type="button" id="sort-by-company" class="btn btn-default" onclick="sortList('company')">
                        Company
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" disabled="disabled">Order:</button>
                    <button type="button" id="order-by-asc" class="btn btn-default btn-selected btn-sort-order"
                            onclick="orderList('asc')">Asc
                    </button>
                    <button type="button" id="order-by-desc" class="btn btn-default btn-sort-order"
                            onclick="orderList('desc')">Desc
                    </button>
                </div>
            </div>
        </article>
    </section>
    <section class="sb-site-content" id="section_display">
        <article id='infra_list'><h4>Infra</h4>
</article>
    </section>
</div>

<script>

    $(document).ready(select_tab('display_infra'));

    var sentinelle_status = "";
    var sort_by = "ssid";
    var sort_order = "asc";
    var current_list = "";

    var bssidList = [];
    var ssidList = [];
    var stationList = [];


    // ascending order
    function SortAsc(a, b) {
        try {
            var aValue = a.toLowerCase();
            var bValue = b.toLowerCase();
        } catch (e) {
            var aValue = a;
            var bValue = b;
        }
        return ((aValue < bValue) ? -1 : ((aValue > bValue) ? 1 : 0));
    }

    // descending order
    function SortDesc(a, b) {
        try {
            var aValue = a.toLowerCase();
            var bValue = b.toLowerCase();
        } catch (e) {
            var aValue = a;
            var bValue = b;
        }
        return ((aValue > bValue) ? -1 : ((aValue < bValue) ? 1 : 0));
    }

    // function dealing with the sort feature
    function sortDiv() {
        var target = $('#' + current_list);
        var divs = target.find('.' + current_list);
        var tempArray = [];

        $(divs).each(function (i, o) {
            tempArray.push($(o).data(sort_by));
        });

        if (sort_order == "asc") {
            tempArray.sort(SortAsc);
        } else {
            tempArray.sort(SortDesc);
        }

        $(tempArray).each(function (i, o) {
            target.append(target.find('.'+ current_list + '[data-' + sort_by + '="' + o + '"]'));
        });

    }


    function select_tab(tab_name, param) {
        var html = "";
        var sort_by_buttons = $("[id^=sort-by]");
        var order_by_buttons = $("[id^=order-by]");
        sort_by_buttons.prop('disabled', true);
        sort_by_buttons.removeClass("btn-selected");
        order_by_buttons.prop('disabled', true);
        order_by_buttons.removeClass("btn-selected");

        $("[id^=nav_]").removeClass("nav_selected");
        switch (tab_name) {
            case "display_infra":
                current_list = "infra_list";
                $("#nav_display_infra").addClass("nav_selected");

                order_by_buttons.prop('disabled', false);
                $("#order-by-asc").addClass("btn-selected");

                html = tab_infra();

                break;
            case "display_ap":
                current_list = "ap_list";
                $("#nav_display_ap").addClass("nav_selected");

                sort_by_buttons.prop('disabled', false);
                $("#sort-by-ssid").addClass("btn-selected");

                order_by_buttons.prop('disabled', false);
                $("#order-by-asc").addClass("btn-selected");
                html = tab_ap();

                sortList('ssid');
                orderList('asc');

                break;
            case "ap_details":
                $("#nav_display_ap").addClass("nav_selected");

                html = tab_ap_details(param);
                break;
            case "display_sta":
                current_list = "sta_list";
                $("#nav_display_sta").addClass("nav_selected");

                html = tab_sta();
                break;
            case "sta_details":
                $("#nav_display_sta").addClass("nav_selected");

                html = tab_sta_details(param);
                break;
            case "display_config":
                $("#nav_display_config").addClass("nav_selected");
                break;
            case "about":
                $("#nav_display_about").addClass("nav_selected");
                break;
        }
        $('#section_display').empty().append(html);
        sortDiv();
    }

    // sort the displayed items
    // called from the AP list
    function sortList(value) {
        sort_by = value;
        $("[id^=sort-by]").removeClass("btn-selected");
        $("#sort-by-" + value).addClass("btn-selected");
        sortDiv();
    }

    function orderList(value) {
        sort_order = value;
        $("[id^=order-by]").removeClass("btn-selected");
        $("#order-by-" + value).addClass("btn-selected");
        sortDiv();
    }

    var socket = io.connect('http://10.0.10.3:80');

    // Socket: Rx
    socket.on("clear_all", function () {
        bssidList = [];
        ssidList = [];
        stationList = [];
        $("#section_display").empty();
    })
            .on('sentinelle_status', function (status) {
                sentinelle_status = status;
                if (sentinelle_status == "running") {
                    $("#sentinelle_status_text").text(sentinelle_status);
                    document.getElementById("sentinelle_status_icon").className = "fa fa-spinner fa-pulse";
                    document.getElementById("sentinelle_action").className = "fa fa-toggle-on fa-lg";
                    document.getElementById("sentinelle_status_btn").className = "label label-success";
                } else {
                    $("#sentinelle_status_text").text(sentinelle_status);
                    document.getElementById("sentinelle_status_icon").className = "fa fa-spinner";
                    document.getElementById("sentinelle_action").className = "fa fa-toggle-off fa-lg";
                    document.getElementById("sentinelle_status_btn").className = "label label-warning";
                }
            })
            .on('SSID', function (action, ssid) {
                //console.log(ssid.ssid);
                //console.log(ssid.bssidList);
                ssid.last_update = new Date().toLocaleString();
                ssidList[ssid.ssid] = ssid;
                if (document.getElementById('infra_list') != null) {
                    if (document.getElementById(ssid.ssid) != null) {
                        document.getElementById(ssid.ssid).innerHTML = format_infrastructure(ssid, false);
                    } else {
                        $("#infra_list").append(format_infrastructure(ssid, true));
                    }
                    sortDiv();
                }
            })
            .on('BSSID', function (action, bssid) {
                //console.log(action);
                bssid.last_update = new Date().toLocaleString();
                bssidList[bssid.bssidAddress] = bssid;
                if (document.getElementById('infra_list') != null) {
                    if (ssidList[bssid.ssid] != null) {
                        if (document.getElementById(bssid.ssid) != null) {
                            document.getElementById(bssid.ssid).innerHTML = format_infrastructure(ssidList[bssid.ssid], false);
                        } else {
                            $("#infra_list").append(format_infrastructure(ssidList[bssid.ssid], true));
                        }
                    }
                    sortDiv();
                } else if (document.getElementById('ap_list') != null) {
                    if (document.getElementById(bssid.bssidAddress) != null) {
                        document.getElementById(bssid.bssidAddress).innerHTML = format_ap_list(bssid, false);
                    } else {
                        $("#ap_list").append(format_ap_list(bssid, true));
                    }
                    sortDiv();
                }
            })
            .on("STA", function (action, station) {
                station['last_update'] = new Date().toLocaleString();
                stationList[station.mac] = station;
                //console.log(action);
                //console.log(STA);
                if (document.getElementById('sta_list') != null) {
                    if (document.getElementById(station.mac) != null) {
                        document.getElementById(station.mac).innerHTML = format_sta_list(station, false);
                    } else {
                        $("#sta_list").append(format_sta_list(station, true));
                    }
                    //sortDiv();
                }
            })
            .on("test", function (test) {
                console.log(test);
            });

    // Control the sensor
    function start_stop() {
        if (sentinelle_status == "running") {
            socket.emit("stop");
        } else {
            socket.emit("start");
        }
    }


</script>
</body>
</html>
