<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">

    <title>Sentinelle</title>
    <!-- JQuery -->
    <script type='text/javascript' src='./js/jquery-2.1.1.min.js'></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type='text/javascript' src='./js/bootstrap.min.js'></script>
    <script type='text/javascript' src='./js/slidebars.js'></script>
    <script type='text/javascript' src='./js/jquery.autocomplete.js'></script>
    <script type='text/javascript' src='./js/FaviconAwesome.js'></script>
    <script type='text/javascript' src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="./css/slidebars.css" type="text/css">
    <link rel="stylesheet" href="./css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="./css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="./css/sentinelle.css" type="text/css">
</head>
<body id="top">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container" style="width:80%" >
        <!-- Logo -->
        <div id="logo" class="nav navbar-nav navbar-left" style="padding-top: 5px;">
            <i class="fa fa-3x fa-connectdevelop"></i>
            <a href="#">Sentinelle</a>
        </div>
        <!-- /#logo -->

        <!-- Menu -->
        <ul class="nav navbar-nav navbar-right">
            <li id="nav_display_infra" class="nav_selected">
                <a href="#" onclick="select_tab('display_infra')">
                    <i class="fa fa-sitemap fa-lg"></i>
                    <span> Infrastructure</span>
                </a>
            </li>
            <li id="nav_display_ap">
                <a href="#" onclick="select_tab('display_ap')">
                    <i class="fa fa-wifi fa-lg"></i>
                    <span> AP Details</span>
                </a>
            </li>
            <li id="nav_display_sta">
                <a href="#" onclick="select_tab('display_sta')">
                    <i class="fa fa-laptop fa-lg"></i>
                    <span> STA Details</span>
                </a>
            </li>
            <li id="nav_display_config">
                <a href="#" onclick="select_tab('display_config')">
                    <i class="fa fa-gears fa-lg"></i>
                    <span> Config</span>
                </a>
            </li>
            <li id="nav_about">
                <a href="#" onclick="select_tab('about')">
                    <i class="fa fa-question fa-lg"></i>
                    <span> About</span>
                </a>
            </li>
            <li>
                <a id="top-arrow" href="#top">^
                    <span> Top</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<!-- main container -->
<div  id="sb-site">
    <!-- mib viewer - this section will display the article to load MIB files -->
    <section class="sb-site-content" id="section_action">
        <article style="display: flex;">
            <div style="width: 20%;margin:auto;">
                    <button type="button" class="btn btn-default" style="margin:0px" onclick="start_stop()">
                        Sensor:
                        <a href="#" >
                            <i id="sentinelle_action" class="fa fa-toggle-off fa-lg"></i>
                        </a></button>
                        <div id="sentinelle_status_btn" class="label label-success" style="margin:0px; padding:5px;">
                            Status :
                            <span id="sentinelle_status_text"></span>
                            <i id="sentinelle_status_icon"></i>
                        </div>
            </div>
            <div style="width: 50%;margin:auto;">
                <a href="#" onclick="goTo('display_preview', 'oid_'+$('#autocomplete').val());">
                    <i class="fa fa-search fa-lg"></i>
                </a>
                <input name="filter_list" id="autocomplete" placeholder="Search" class="search" onkeypress="return enterKey(event)" type="text">
            </div>
            <div style="width: 30%;margin:auto;text-align: center">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" disabled="disabled">Sort by:</button>
                    <button type="button" id="sort-by-ssid" class="btn btn-default btn-selected" onclick="sortApList('ssid')">SSID</button>
                    <button type="button" id="sort-by-bssid" class="btn btn-default" onclick="sortApList('bssid')">BSSID</button>
                    <button type="button" id="sort-by-company" class="btn btn-default" onclick="sortApList('company')">Company</button>
                </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" disabled="disabled">Order:</button>
                        <button type="button" id="order-by-asc" class="btn btn-default btn-selected btn-sort-order" onclick="orderApList('asc')">Asc</button>
                        <button type="button" id="order-by-desc" class="btn btn-default btn-sort-order" onclick="orderApList('desc')">Desc</button>
                        </div>
                </div>
        </article>
    </section>
    <!-- mib viewer - this section will display the MIB files details -->
    <section class="sb-site-content" id="section_display_infra">
        <article id="article_infra">

        </article>
    </section>
    <!-- mib viewer - this section will display MIB tree -->
    <section class="sb-site-content" id="section_display_ap" hidden="hidden">
        <article id="article_ap_list">
            <div id="ap_list" class="container">
            </div>
        </article>
        <article id="article_ap_detail" hidden="hidden">

        </article>
    </section>
    <!-- mib viewer - this section will display MIB tree -->
    <section class="sb-site-content" id="section_display_sta" hidden="hidden">
        <article style="display: flex">

        </article>
    </section>
    <!-- mib viewer - this section will display MIB tree -->
    <section class="sb-site-content" id="section_display_conf" hidden="hidden">
        <article style="display: flex">

        </article>
    </section>
    <!-- mib viewer - this section will display the About article -->
    <section class="sb-site-content" id="section_display_about" hidden="hidden">
        <article>

        </article>
    </section>
    <!-- mib viewer - this section will display search tool -->
    <section class="sb-site-content" id="section_display_search" hidden="hidden">
        <article style="display: flex">

        </article>

    </section>

</div>
<!-- mib viewer - this is the right pane to display infos  -->
<nav id="info_details" class="sb-slidebar sb-right sb-style-push">
    <div id="info_details_content" style="margin-top: 100px;">
    </div>
    <div>
        <a class='btn menu-link' id="sb-close" style='float: left; padding-right: 10px; padding-top: 10px;'>Close <i
                    class='fa fa-times-circle'></i></a>
    </div>
</nav>
<script> FaviconAwesome('fa-connectdevelop', '#0093D1'); </script>
<script>

    var sentinelle_status = "";
    var sort_by = "ssid";
    var sort_order = "asc";

    var BSSIDList = [];
    var SSIDList = [];
    var STAList = [];

    var socket = io.connect('http://10.0.10.3:80');


// Socket: Rx
    socket.on("clear_all", function(){
        BSSIDList = [];
        SSIDList = [];
        STAList = [];
        $("#ap_list").empty();
    })
    socket.on('sentinelle_status', function(status){
        sentinelle_status = status;
        if (sentinelle_status=="running"){
            $("#sentinelle_status_text").text(sentinelle_status)
            document.getElementById("sentinelle_status_icon").className ="fa fa-spinner fa-pulse";
            document.getElementById("sentinelle_action").className = "fa fa-toggle-on fa-lg";
            document.getElementById("sentinelle_status_btn").className = "label label-success";
        } else {
            $("#sentinelle_status_text").text(sentinelle_status);
            document.getElementById("sentinelle_status_icon").className ="fa fa-spinner";
            document.getElementById("sentinelle_action").className = "fa fa-toggle-off fa-lg";
            document.getElementById("sentinelle_status_btn").className = "label label-warning";
        }
    })
    socket.on('SSID', function(action, SSID){
        console.log(SSID.SSID);
        console.log(SSID.BSSIDs);
        SSIDList[SSID.SSID] = SSID;
        var html = "<div>"
        for (var BSSID in SSID.BSSIDs){
            html += '<div>'+SSID.BSSIDs[BSSID]+"</div><br>"
        }
        html += "</div><br><br>";
        if (document.getElementById("ssid_"+SSID.SSID) != null){
            document.getElementById("ssid_"+SSID.SSID).innerHTML = html;
        } else {
            html += "<span>"+SSID.SSID+"</span>"
            $("#article_infra").append(html);
        }
    })
    socket.on('BSSID', function(action, BSSID) {
       // console.log(action);
       // console.log(BSSID);
        BSSIDList[BSSID['BSSID_Address']]=BSSID;
        if (document.getElementById('ap_'+BSSID['BSSID_Address']) != null){
            document.getElementById('ap_'+BSSID['BSSID_Address']).innerHTML =format_ap_list(BSSID, false);
        } else {
            $("#ap_list").append(format_ap_list(BSSID, true));
        }
        sortDiv( $('#ap_list'), $('#ap_list').find('.ap_list'), sort_by);
        $('#ap_'+BSSID['BSSID_Address']).toggle('highlight');
    })
    socket.on("STA", function(action, STA){
        console.log(action);
        console.log(STA);
    })

    // Control the sensor
    function start_stop(){
        if (sentinelle_status == "running"){
            socket.emit("stop");
        } else {
            socket.emit("start");
        }
    }


    // generate HTML code to display a new AP in the AP list
    function format_ap_list(BSSID, new_ap){
        var html_ap = '';
        if (new_ap){
            html_ap += "<div " +
                    "class='ap_list' " +
                    "id='ap_" + BSSID["BSSID_Address"] + "' " +
                    "data-bssid='"+BSSID["BSSID_Address"]+"' " +
                    "data-ssid='"+BSSID["SSID"] +  "' " +
                    "data-company='"+BSSID["company"] + "' "+
                    ">";
        }
        html_ap += "BSSID: <a href='#' onclick='tab_ap(\"" + BSSID["BSSID_Address"] + "\")'>"
                + BSSID["BSSID_Address"] + "</a><br>"
                + "SSID: " + BSSID["SSID"] + "<br>"
                + "Company: " + BSSID['company'] + "<br>"
                + "Channel: " + BSSID["channel"] + "<br>"
                + "Country: " + BSSID["country"] + "<br>"
                + "Rates: " + BSSID["rates"] + "<br>"
                + "Extended Rates: " + BSSID["extended_rates"] + "<br>"
                + "Connected Stations: " + BSSID["associated_STA"].length + "<br>"
                + "Raw Data: " +BSSID["beacon"] + "<br>";
        if (new_ap) {
            html_ap += "</div>";
        }
        return html_ap;
    }


    // sort the displayed items
    // called from the AP list
    function sortApList(value){
        sort_by = value;
        $("[id^=sort-by]").removeClass("btn-selected");
        $("#sort-by-"+value).addClass("btn-selected");
        sortDiv( $('#ap_list'),$('#ap_list').find('.ap_list'), sort_by);
    }

    function orderApList(value){
        sort_order=value;
        $("[id^=order-by]").removeClass("btn-selected");
        $("#order-by-"+value).addClass("btn-selected");
        sortDiv( $('#ap_list'),$('#ap_list').find('.ap_list'), sort_by);
    }

    // ascending order
    function SortAsc(a, b){
        var aValue = a.toLowerCase();
        var bValue = b.toLowerCase();
        return ((aValue < bValue) ? -1 : ((aValue > bValue) ? 1 : 0));
    }

    // descending order
    function SortDesc(a, b){
        var aValue = a.toLowerCase();
        var bValue = b.toLowerCase();
        return ((aValue > bValue) ? -1 : ((aValue < bValue) ? 1 : 0));
    }

    // function dealing with the sort feature
    function sortDiv(target, divs){
        var tempArray = [];

        $(divs).each(function(i,o){
            tempArray.push($(o).data(sort_by));
        });

        if (sort_order=="asc"){
            tempArray.sort(SortAsc);
        } else {
            tempArray.sort(SortDesc);
        }

        $(tempArray).each(function(i,o){
            target.append(target.find('.ap_list[data-'+sort_by+'="'+o+'"]'));
        });

    }

// display / hide article from the AP details (list or details)
    function tab_ap(BSSID){
        if (BSSID == null) {
            $("#article_ap_list").show();
            $("#article_ap_detail").hide();
        } else {
            $("#article_ap_list").hide();
            $("#article_ap_detail").show();
        }
    }


    var tabs = ["display_infra", "display_ap", "display_sta", "display_config", "about"];
    function select_tab(tab_name) {
        //mySlidebars.slidebars.close();
        if (tab_name.indexOf("display_") < 0) {
            $("#section_action").hide();
        } else {
            $("#section_action").show();
        }
        for (var i in tabs) {
            if (tabs.hasOwnProperty(i)) {
                if (tabs[i] == tab_name) {
                    $("#section_" + tabs[i]).show();
                    document.getElementById("nav_" + tabs[i]).className = "nav_selected";
                } else {
                    $("#section_" + tabs[i]).hide();
                    document.getElementById("nav_" + tabs[i]).className = "";
                }
            }
        }

    }

    $(document).ready(function() {
        select_tab('display_ap');
    })
</script>
</body>
</html>
