<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">

    <title>Sentinelle</title>
    <!-- JQuery -->
    <script type='text/javascript' src='./js/lib/jquery-2.1.1.min.js'></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type='text/javascript' src='./js/lib/bootstrap.min.js'></script>
    <script type='text/javascript' src='./js/lib/slidebars.js'></script>
    <script type='text/javascript' src='./js/lib/jquery.autocomplete.js'></script>
    <script type='text/javascript' src='./js/lib/FaviconAwesome.js'></script>
    <script type='text/javascript' src='./js/ap.js'></script>
    <script type='text/javascript' src='./js/infra.js'></script>
    <script type='text/javascript' src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="./css/slidebars.css" type="text/css">
    <link rel="stylesheet" href="./css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="./css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="./css/sentinelle.css" type="text/css">
</head>
<body id="top">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container" style="width:80%">
        <!-- Logo -->
        <div id="logo" class="nav navbar-nav navbar-left" style="padding-top: 5px;">
            <i class="fa fa-3x fa-connectdevelop"></i>
            <a href="#">Sentinelle</a>
        </div>
        <!-- /#logo -->

        <!-- Menu -->
        <ul class="nav navbar-nav navbar-right">
            <li id="nav_display_infra" class="nav_selected">
                <a href="#" onclick="select_tab('display_infra')">
                    <i class="fa fa-sitemap fa-lg"></i>
                    <span> Infrastructure</span>
                </a>
            </li>
            <li id="nav_display_ap">
                <a href="#" onclick="select_tab('display_ap')">
                    <i class="fa fa-wifi fa-lg"></i>
                    <span> AP Details</span>
                </a>
            </li>
            <li id="nav_display_sta">
                <a href="#" onclick="select_tab('display_sta')">
                    <i class="fa fa-laptop fa-lg"></i>
                    <span> STA Details</span>
                </a>
            </li>
            <li id="nav_display_config">
                <a href="#" onclick="select_tab('display_config')">
                    <i class="fa fa-gears fa-lg"></i>
                    <span> Config</span>
                </a>
            </li>
            <li id="nav_about">
                <a href="#" onclick="select_tab('about')">
                    <i class="fa fa-question fa-lg"></i>
                    <span> About</span>
                </a>
            </li>
            <li>
                <a id="top-arrow" href="#top">^
                    <span> Top</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
<!-- main container -->
<div id="sb-site">
    <!-- mib viewer - this section will display the article to load MIB files -->
    <section class="sb-site-content" id="section_action">
        <article style="display: flex;">
            <div style="width: 20%;margin:auto;">
                <button type="button" class="btn btn-default" style="margin:0px" onclick="start_stop()">
                    Sensor:
                    <a href="#">
                        <i id="sentinelle_action" class="fa fa-toggle-off fa-lg"></i>
                    </a></button>
                <div id="sentinelle_status_btn" class="label label-success" style="margin:0px; padding:5px;">
                    Status :
                    <span id="sentinelle_status_text"></span>
                    <i id="sentinelle_status_icon"></i>
                </div>
            </div>
            <div style="width: 30%;margin:auto;">
                <a href="#" onclick="goTo('display_preview', 'oid_'+$('#autocomplete').val());">
                    <i class="fa fa-search fa-lg"></i>
                </a>
                <input name="filter_list" id="autocomplete" placeholder="Search" class="search"
                       onkeypress="return enterKey(event)" type="text">
            </div>
            <div style="margin:auto;text-align: center">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" disabled="disabled">Sort by:</button>
                    <button type="button" id="sort-by-rssi" class="btn btn-default" onclick="sortList('rssi')">
                        RSSI
                    </button>
                    <button type="button" id="sort-by-ssid" class="btn btn-default btn-selected"
                            onclick="sortList('ssid')">SSID
                    </button>
                    <button type="button" id="sort-by-bssid" class="btn btn-default" onclick="sortList('bssid')">
                        BSSID
                    </button>
                    <button type="button" id="sort-by-company" class="btn btn-default" onclick="sortList('company')">
                        Company
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" disabled="disabled">Order:</button>
                    <button type="button" id="order-by-asc" class="btn btn-default btn-selected btn-sort-order"
                            onclick="orderList('asc')">Asc
                    </button>
                    <button type="button" id="order-by-desc" class="btn btn-default btn-sort-order"
                            onclick="orderList('desc')">Desc
                    </button>
                </div>
            </div>
        </article>
    </section>
    <section class="sb-site-content" id="section_display">

    </section>




</div>
<!-- mib viewer - this is the right pane to display infos  -->
<nav id="info_details" class="sb-slidebar sb-right sb-style-push">
    <div id="info_details_content" style="margin-top: 100px;">
    </div>
    <div>
        <a class='btn menu-link' id="sb-close" style='float: left; padding-right: 10px; padding-top: 10px;'>Close <i
                    class='fa fa-times-circle'></i></a>
    </div>
</nav>
<script> FaviconAwesome('fa-connectdevelop', '#0093D1'); </script>
<script>

    var sentinelle_status = "";
    var sort_by = "ssid";
    var sort_order = "asc";
    var current_list = "";

    var BSSIDList = [];
    var SSIDList = [];
    var STAList = [];

    var socket = io.connect('http://10.0.10.3:80');


    // Socket: Rx
    socket.on("clear_all", function () {
        BSSIDList = [];
        SSIDList = [];
        STAList = [];
        $("#ap_list").empty();
    })
    socket.on('sentinelle_status', function (status) {
        sentinelle_status = status;
        if (sentinelle_status == "running") {
            $("#sentinelle_status_text").text(sentinelle_status)
            document.getElementById("sentinelle_status_icon").className = "fa fa-spinner fa-pulse";
            document.getElementById("sentinelle_action").className = "fa fa-toggle-on fa-lg";
            document.getElementById("sentinelle_status_btn").className = "label label-success";
        } else {
            $("#sentinelle_status_text").text(sentinelle_status);
            document.getElementById("sentinelle_status_icon").className = "fa fa-spinner";
            document.getElementById("sentinelle_action").className = "fa fa-toggle-off fa-lg";
            document.getElementById("sentinelle_status_btn").className = "label label-warning";
        }
    })
    socket.on('SSID', function (action, SSID) {
        console.log(SSID.SSID);
        //console.log(SSID.BSSIDs);
        SSID.last_update = new Date().toLocaleString();
        SSIDList[SSID.SSID] = SSID;
        if (document.getElementById("ssid_" + SSID.SSID) != null) {
            document.getElementById("ssid_" + SSID.SSID).innerHTML = format_infrastructure(SSID);
        } else {
            $("#infra_list").append(format_infrastructure(SSID));
        }
        //sortDiv($('#article_infra'), $('#article_infra').find('.ssid'), sort_by);
    })
    socket.on('BSSID', function (action, BSSID) {
        // console.log(action);
        //console.log(BSSID);
        BSSID.last_update = new Date().toLocaleString();
        BSSIDList[BSSID.BSSID_Address] = BSSID;
        if (document.getElementById('ap_' + BSSID.BSSID_Address) != null) {
            document.getElementById('ap_' + BSSID.BSSID_Address).innerHTML = format_ap_list(BSSID, false);
        } else {
            $("#ap_list").append(format_ap_list(BSSID, true));
        }
        sortDiv($('#ap_list'), $('#ap_list').find('.ap_list'), sort_by);
    })
    socket.on("STA", function (action, STA) {
        STA['last_update'] = new Date().toLocaleString();
        STAList[STA.MAC] = STA;
        //console.log(action);
        //console.log(STA);
    })

    // Control the sensor
    function start_stop() {
        if (sentinelle_status == "running") {
            socket.emit("stop");
        } else {
            socket.emit("start");
        }
    }


    // ascending order
    function SortAsc(a, b) {
        try {
            var aValue = a.toLowerCase();
            var bValue = b.toLowerCase();
        } catch(e) {
            var aValue = a;
            var bValue = b;
        }
        return ((aValue < bValue) ? -1 : ((aValue > bValue) ? 1 : 0));
    }

    // descending order
    function SortDesc(a, b) {
    try {
        var aValue = a.toLowerCase();
        var bValue = b.toLowerCase();
    } catch(e) {
        var aValue = a;
        var bValue = b;
    }
        return ((aValue > bValue) ? -1 : ((aValue < bValue) ? 1 : 0));
    }

    // function dealing with the sort feature
    function sortDiv(target, divs) {
        var tempArray = [];

        $(divs).each(function (i, o) {
            tempArray.push($(o).data(sort_by));
        });

        if (sort_order == "asc") {
            tempArray.sort(SortAsc);
        } else {
            tempArray.sort(SortDesc);
        }

        $(tempArray).each(function (i, o) {
            target.append(target.find('.ap_list[data-' + sort_by + '="' + o + '"]'));
        });

    }


    function select_tab(tab_name, param) {
        var html = "";
        $('#section_display').empty();
        $("[id^=sort-by]").prop('disabled', true);
        $("[id^=sort-by]").removeClass("btn-selected");
        $("[id^=order-by]").prop('disabled', true);
        $("[id^=order-by]").removeClass("btn-selected");

        $("[id^=nav_]").removeClass("nav_selected");
        switch (tab_name){
            case "display_infra":
                current_list = "infra_list";
                $("#nav_display_infra").addClass("nav_selected");

                $("#sort-by-rssi").prop('disabled', false);
                $("#sort-by-ssid").prop('disabled', false);
                $("#sort-by-ssid").addClass("btn-selected");

                $("[id^=order-by]").prop('disabled', false);
                $("#order-by-asc").addClass("btn-selected");

                html = tab_infra();
                break;
            case "display_ap":
                current_list = "ap_list";
                $("#nav_display_ap").addClass("nav_selected");

                $("[id^=sort-by]").prop('disabled', false);
                $("#sort-by-ssid").addClass("btn-selected");

                $("[id^=order-by]").prop('disabled', false);
                $("#order-by-asc").addClass("btn-selected");
                html = tab_ap();
                break;
            case "ap_details":
                $("#nav_display_ap").addClass("nav_selected");

                html = tab_ap_details(param);
                break;
            case "display_sta":
                current_list = "sta_list";
                $("#nav_display_sta").addClass("nav_selected");
                break;
            case "display_config":
                $("#nav_display_config").addClass("nav_selected");
                break;
            case "about":
                $("#nav_display_about").addClass("nav_selected");
                break;
        }

        $('#section_display').append(html);
    }

    // sort the displayed items
    // called from the AP list
    function sortList(value) {
        sort_by = value;
        $("[id^=sort-by]").removeClass("btn-selected");
        $("#sort-by-" + value).addClass("btn-selected");
        sortDiv($('#'+current_list), $('#'+current_list).find('.'+current_list), sort_by);
    }

    function orderList(value) {
        sort_order = value;
        $("[id^=order-by]").removeClass("btn-selected");
        $("#order-by-" + value).addClass("btn-selected");
        sortDiv($('#'+current_list), $('#'+current_list).find('.'+current_list), sort_by);
    }

    $(document).ready(function () {
        select_tab('display_infra');
    })

</script>
</body>
</html>
